@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

#logo {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
    color: #39ac73;
    margin-top: 100px;
};

#background {
  background-color: white;
}

#userR {
  background-color: #39ac73
}

#reg {
  font-family: 'Raleway';  
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 25px;
  color: white;
  text-align: center;
}

.title {
  font-family: 'Raleway';
  color: white;
}

button {
  font-family: 'Raleway';
  color: white;
}

#register{
  font-family: 'Raleway';
  color: white;
}