@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

h2 {
  font-family: 'Raleway';  
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 25px;
  color: #4d4d4d;
}

label {
  font-family: 'Raleway';
}

button {
  font-family: 'Raleway';
}

#register{
  font-family: 'Raleway';
}