@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

h1 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 60px;
    text-align: center;
    color: white;
    margin-top: 100px;
};